#body {
    background-color: #0b1622;
}

#username_text_box {
    background-color: #151f2e;
    border: none;
    color: #39a5df;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

#num_dropdown {
    background-color: #151f2e;
    border: none;
    padding: 15px 2px;
    color: #728aa1;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

#num_dropdown:hover {
    cursor: pointer;
}

#gender_dropdown {
    background-color: #151f2e;
    border: none;
    padding: 15px 2px;
    color: #728aa1;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

#rank_dropdown:hover {
    cursor: pointer;
}

#run_bracket {
    background-color: #151f2e;
    border: none;
    color: #728aa1;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

#run_bracket:hover:enabled {
    cursor: pointer;
    color: #39a5df;
}

::placeholder {
    color: #728aa1;
}

:disabled {
    opacity: 50%;
}

.dropbtn {
    background-color: #151f2e;
    color: #728aa1;
    padding: 16px;
    font-size: 16px;
    border: none;
}
    
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
    
/* Dropdown Content (Hidden by Default) */
#user_list {
    display: none;
    position: absolute;
    background-color: #151f2e;
    z-index: 1; 
}

#user_list p {
    color: #728aa1;
    padding: 0px 12px;
    text-decoration: none;
    font-family: sans-serif;
    display: block;
    white-space:nowrap;
    overflow: hidden;
    text-align: right;
}

#rank_list li {
    color: #728aa1;
    padding: 0px 12px;
    font-family: sans-serif;
    display: block;
    white-space:nowrap;
}

/* Show the dropdown menu on hover */
.dropdown:hover #user_list {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #0b1622;}

#left_image_loc button {
    margin: 0 auto;
    display: block;
    background-color: #0b1622;
    border: none;
}

#left_image_loc button p {
    color: #728aa1;
}

#left_image_loc button:hover p {
    color: #39a5df;
}

#right_image_loc button {
    margin: 0 auto;
    display: block;
    background-color: #0b1622;
    border: none;
}

#right_image_loc button p {
    color: #728aa1;
}

#right_image_loc button:hover p {
    color: #39a5df;
}

#text_file_div button {
    background-color: #151f2e;
    color: #728aa1;
    padding: 16px;
    font-size: 16px;
    border: none;
}

#text_file_div button:hover {
    color: #39a5df;
}